.files {
  min-width: 600px;
  width: 80vw;
  padding: 2em;
  display: grid;
  grid-template-rows: 96px 72px 1fr;
  overflow-y: auto;

  .files-heading {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .files-heading-text {
      font-size: 2rem;
      font-weight: bold;
    }

    .breadcrumb {
      background: none;
      border: 0;
      padding: 0;

      .breadcrumb-item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .btn-toolbar {
      align-items: center;
      justify-self: right;
    }
  }

  .list-group-item,
  .list-group-heading {
    border: none;
    min-height: 72px;
    height: 10%;
    padding: 1em;
    display: grid;
    grid-template-columns: 56px 1fr 176px 56px 48px;
    grid-column-gap: 2em;
    align-items: center;
  }

  .list-group-heading {
    font-weight: bold;
  }

  .list-group-item {
    &:hover {
      cursor: pointer;
    }

    .item-name {
      overflow-x: hidden;
    }

    .item-size {
      text-align: right;
    }

    .dropdown {
      justify-self: right;
    }
  }

  img {
    width: 20px;
    height: 20px;
    justify-self: center;
  }

  .folder-empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    img {
      width: 72px;
      height: 72px;
      padding: 1em;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
  }
}
