.files {
  width: 100%;
  height: 100vh;
  padding: 2em;
  display: grid;
  grid-template-rows: 1fr 72px 5fr;

  .files-heading {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .files-heading-text {
      font-size: 2rem;
      font-weight: bold;
    }
    
    .breadcrumb {
      background: none;
      border: 0;
      padding: 0;

      .breadcrumb-item {
        display: flex;
        align-items: center;
        justify-content: center
      }
    }
    
    .btn-toolbar {
      align-items: center;
      justify-self: right;
    }
  }

  .list-group {
    overflow-y: auto;
  }

  .list-group-item,
  .list-group-heading {
    border: none;
    min-height: 72px;
    height: 10%;
    padding: 1em;
    display: grid;
    grid-template-columns: 56px 1fr 176px 56px 48px;
    grid-column-gap: 2em;
    align-items: center;
  }

  .list-group-heading {
    font-weight: bold;
  }

  .list-group-item {
    &:hover {
      cursor: pointer;
    }

    .item-name {
      overflow-x: hidden;
    }
    
    .item-size {
      text-align: right;
    }

    .dropdown {
      position: relative;
      float: right;

      .dropdown-panel {
        background-color: white;
        color: #333333;
        width: 150px;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 10;

        &#visible {
          display: visible;
        }

        &#hidden {
          display: none;
        }
      }
    }
  }

  img {
    width: 20px;
    height: 20px;
    justify-self: center;
  }

  .folder-empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    img {
      width: 72px;
      height: 72px;
      padding: 1em;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
  }
}
